*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:host {
    display: inline-flex;
    inline-size: var(--wui-icon-width, 1em);
    block-size: var(--wui-icon-height, 1em);
}

svg {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    vertical-align: middle;
}
