:host {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: calc(var(--wui-dialog-index, 100) + (var(--wui-dialog-level, 1) * 10));
    inline-size: 100vw;
    block-size: 100dvh;
}

:host([open]) {
    display: flex;
}

:host([scrollable]) .dialog {
    max-block-size: 100%;
}

:host([scrollable]) .dialog .body {
    overflow-y: auto;
}

.backdrop {
    position: fixed;
    inset: 0;
    z-index: calc(var(--wui-dialog-index, 110) + (var(--wui-dialog-level, 1) * 10) + 10);
    inline-size: 100vw;
    block-size: 100vh;
    background-color: var(--wui-dialog-backdrop, rgba(0, 0, 0, 0.4));
}

.wrapper {
    position: fixed;
    inset: 0;
    z-index: calc(var(--wui-dialog-index, 110) + (var(--wui-dialog-level, 1) * 10) + 20);
    inline-size: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-block-start: var(--wui-dialog-spacing-top, var(--wui-dialog-spacing-block, var(--wui-dialog-spacing, 8rem)));
    padding-block-end: var(--wui-dialog-spacing-bottom, var(--wui-dialog-spacing-block, var(--wui-dialog-spacing, 2rem)));
    padding-inline-start: var(--wui-dialog-spacing-left, var(--wui-dialog-spacing-inline, var(--wui-dialog-spacing, 2rem)));
    padding-inline-end: var(--wui-dialog-spacing-right, var(--wui-dialog-spacing-inline, var(--wui-dialog-spacing, 2rem)));
    inline-size: 100%;
    block-size: 100%;
    min-block-size: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.dialog {
    outline-color: transparent;
    position: relative;
    z-index: calc(var(--wui-dialog-index, 120) + (var(--wui-dialog-level, 1) * 10) + 30);
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    max-inline-size: var(--wui-dialog-width, 48rem);
    color: var(--wui-dialog-text, inherit);
    background-color: var(--wui-dialog-background, white);
}

.header {
    display: flex;
}

.header-actions {
    align-self: start;
    flex: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-inline-start: auto;
}

.body {
    flex: 1;
}
