:host(:not([open])) .panel {
    display: none;
}

:host([open]) slot[name=expand-icon],
:host(:not([open])) slot[name=collapse-icon] {
    display: none;
}

:host([disabled]) .trigger {
    cursor: var(--wui-accordion-item-trigger-cursor-disabled, not-allowed);
}

.trigger {
    cursor: var(--wui-accordion-item-trigger-cursor, default);
    display: flex;
    align-items: var(--wui-accordion-item-trigger-align-items, center);
    justify-content: var(--wui-accordion-item-trigger-justify-content, space-between);
    gap: var(--wui-accordion-item-trigger-gap, 1rem);
    inline-size: var(--wui-accordion-item-trigger-width, 100%);
    text-align: var(--wui-accordion-item-trigger-text-align, start);
}

.heading {
    flex: 1 1 0%;
    display: block;
    max-inline-size: 100%;
    overflow: hidden;
}

.icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
